<mat-toolbar color='primary'>Add Promo</mat-toolbar>
<mat-card>
  <a routerLink="/madridNow"> Volver </a>
  <br>
  <br>
<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="name" [(ngModel)]="promo.name">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="info de la promo" [(ngModel)]="promo.info"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Category" [(ngModel)]="promo.category">
        <!-- <mat-option value="0">Destacado</mat-option> -->
        <mat-option value="1">Comida</mat-option>
        <mat-option value="2">Cultura y cine</mat-option>
        <mat-option value="3">Cosas que hacer</mat-option>
      </mat-select>
    </mat-form-field>
       <span>Day(s): </span> <br>
            <mat-checkbox class="example-margin" [(ngModel)]="checked[0]">Lunes</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="checked[1]">Martes</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="checked[2]">Miercoles</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="checked[3]">Jueves</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="checked[4]">Viernes</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="checked[5]">Sábado</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="checked[6]">Domingo</mat-checkbox>
        <br>
        <br>
        
        <mat-checkbox class="example-margin" [(ngModel)]="promo.featured">Featured</mat-checkbox>
        <br><br>
  </div>
  Selecciona una imagen
    <br>
  <input id="cin" name="cin" type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple/>
<br>
<br>
<br>
  <button mat-raised-button color="accent" (click)="addPromo()">Agregar Promo</button>
</mat-card>